@using Umbraco13Demo.Core.Controllers.Surface;
@model Umbraco13Demo.Core.Models.ViewModels.ContactFormViewModel;
@{
}
<div class="my-5">
    @using (Html.BeginUmbracoForm<ContactSurfaceController>(nameof(ContactSurfaceController.HandleSubmit)))
    {
        <div class="form-floating">
            <input class="form-control is-invalid" asp-for="Name" type="text" placeholder="Enter your name..." data-sb-validations="required" data-sb-can-submit="no">
            <label for="name">Name</label>
            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
            <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
        </div>
        <div class="form-floating">
            <input class="form-control" asp-for="Email" type="email" placeholder="Enter your email..." data-sb-validations="required,email" data-sb-can-submit="no">
            <label for="email">Email address</label>
            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
        </div>
        <div class="form-floating">
            <textarea class="form-control" asp-for="Message" placeholder="Enter your message here..." style="height: 12rem" data-sb-validations="required" data-sb-can-submit="no"></textarea>
            <label for="message">Message</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
        </div>
        <br>
        <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
            </div>
        </div>
        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
    }
</div>