<?xml version="1.0" encoding="utf-8"?>
<Media Key="74c03051-cbe7-459a-8f23-ba9cdd10a956" Alias="911 Gt3 Rs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gt3Rs</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-15T16:19:08</CreateDate>
    <NodeName Default="911 Gt3 Rs" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k2yma3hh/911-gt3-rs.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>