<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd641fb5-17b7-4b46-a91c-05a430535b2b" Alias="Lambo Svj" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LamboSvj</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-15T16:46:31</CreateDate>
    <NodeName Default="Lambo Svj" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wmphj5nx/lambo-svj.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>