<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed222a6b-ea02-4fe7-a243-4d2c5d665f3d" Alias="Senna" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Senna</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-15T16:46:31</CreateDate>
    <NodeName Default="Senna" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nuvcf1ic/senna.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>