@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.About>
@{
	Layout = "Master.cshtml";
}

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        @Model.MainContent
    </div>
</main>