@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco13Demo.Core.Models.ViewModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@{
    Layout = "Master.cshtml";
}

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8">
                @Html.GetBlockListHtml(Model.MainContent)
                @await Html.PartialAsync("/Views/Partials/Surface/_ContactForm.cshtml", new ContactFormViewModel())
            </div>
        </div>
    </div>
</main>