@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@{
	Layout = "Master.cshtml";
}

<main class="mb-4">
    @Html.GetBlockListHtml(Model.MainContent)
</main>