@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.StandardPage>
@{
	Layout = "Master.cshtml";
}

<main class="mb-4">
    @await Html.GetBlockGridHtmlAsync(Model.MainContent)
</main>