<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a2d5fdc-c885-463d-9fa5-3f4ebc2bf63a" Alias="Global Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>globalSettings</ContentType>
    <CreateDate>2023-12-15T17:11:59</CreateDate>
    <NodeName Default="Global Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <socialLinks>
      <Value><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/in/"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://youtube.com/"
  }
]]]></Value>
    </socialLinks>
  </Properties>
</Content>