<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9aaee6da-462b-4676-abd2-844c708faaa3" Alias="about" Level="2">
  <Info>
    <Name>About</Name>
    <Icon>icon-infinity color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6ceaa709-3c5a-47f3-a6c2-47c6389141c4">content</Composition>
      <Composition Key="eeface61-ef70-42db-bdc9-de08673084f6">heroProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aa8da682-34e7-4547-b7c3-a5b9a59640fb">About</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>