<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c4fc897b-56aa-4c34-a196-d72c60ddcf41" Alias="contact" Level="2">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-phone color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6ceaa709-3c5a-47f3-a6c2-47c6389141c4">content</Composition>
      <Composition Key="eeface61-ef70-42db-bdc9-de08673084f6">heroProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="25736b78-af77-44e2-95ba-c214d08201f6">Contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>