<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="54057444-16db-41f4-a114-b150d24411f1" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6ceaa709-3c5a-47f3-a6c2-47c6389141c4">content</Composition>
      <Composition Key="eeface61-ef70-42db-bdc9-de08673084f6">heroProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="41530852-63d6-4611-bade-13c665c88eef">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9aaee6da-462b-4676-abd2-844c708faaa3" SortOrder="0">about</ContentType>
    <ContentType Key="c4fc897b-56aa-4c34-a196-d72c60ddcf41" SortOrder="1">contact</ContentType>
    <ContentType Key="0339cf52-2180-4365-a994-cbfc5657d89b" SortOrder="2">standardPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>