<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="56486879-fc86-4156-8c32-34fd786cef70" Alias="imageBlockSettings" Level="4">
  <Info>
    <Name>Image Block Settings</Name>
    <Icon>icon-settings-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Settings+Models</Folder>
    <Compositions>
      <Composition Key="065f32cf-4c15-49ca-afed-1e216dd9e26b">blockVisibilitySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>