<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0339cf52-2180-4365-a994-cbfc5657d89b" Alias="standardPage" Level="2">
  <Info>
    <Name>Standard Page</Name>
    <Icon>icon-document color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="eeface61-ef70-42db-bdc9-de08673084f6">heroProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="26eede6d-0c9c-48e0-b386-d54bc21f53e0">StandardPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>20d087e1-0462-4191-824c-e0a8041de4d9</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>4555cd9b-5849-497b-b624-c29ce9c3e1a3</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>63ae78b0-75c2-45be-a2a8-414c73be213f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>