<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1fa4141-0f44-4614-9cf8-12bafe6c1530" Alias="Main Content Block" Level="3">
  <Info>
    <Name>Main Content Block</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Block+List+Editors</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#2986cc",
      "contentElementTypeKey": "cf31e421-86e7-42b3-859b-911076b1732a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "{{ 'Image ' + $index }} {{ $settings.hide === '1' ? '[HIDDEN]' : '' }}",
      "settingsElementTypeKey": "56486879-fc86-4156-8c32-34fd786cef70",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#eb7f0e",
      "contentElementTypeKey": "532be49c-ccbb-4df1-b031-6fe6c7ec85ee",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": null,
      "settingsElementTypeKey": "9d60dae7-0076-4dcb-86c4-0f524132d585",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>