<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4555cd9b-5849-497b-b624-c29ce9c3e1a3" Alias="Standard Block Grid" Level="2">
  <Info>
    <Name>Standard Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "80e5d750-5c50-42e0-9beb-5c9461512ea1",
      "name": "Demo Blocks"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "9c82ed67-064d-4f02-99d1-8514d0651686",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "80e5d750-5c50-42e0-9beb-5c9461512ea1",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Headline ({{headline | truncate:true:36}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoHeadlineBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "92aed2fb-e329-468b-a85e-df263c16f59c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "80e5d750-5c50-42e0-9beb-5c9461512ea1",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Image",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoImageBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "657ec194-48c3-44b0-81cf-27d2546424d0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "80e5d750-5c50-42e0-9beb-5c9461512ea1",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Rich Text  ({{richText | ncRichText | truncate:true:36}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoRichTextBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 6,
          "createLabel": null,
          "key": "f0e9726e-49ee-46de-a757-40122709ed7d",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "right",
          "columnSpan": 6,
          "createLabel": null,
          "key": "63eca2bd-e3fc-4dfe-9a98-384237ef9691",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "965466ce-7412-4331-8330-3adfa5e009d3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "80e5d750-5c50-42e0-9beb-5c9461512ea1",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Two Column Layout",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoTwoColumnLayoutBlock.html"
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>